@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  color: white;
  background: url('https://qu.ax/uvQWt.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.container {
  padding: 30px 20px;
}

h1 {
  font-size: 28px;
  color: #00fff7;
  text-shadow: 0 0 10px #00fff7, 0 0 20px #00fff7;
  margin-bottom: 30px;
}

.section-box, .contact-section {
  background-color: rgba(0, 0, 0, 0.5); /* semi transparan */
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 300px;
  box-shadow: 0 0 10px #00fff7;
}

.button {
  background-color: #00fff7;
  color: black;
  border: none;
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #00fff7, 0 0 20px #00fff7;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.05);
}

.show-btn, .copy-btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.wa-button {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 10px #25D366, 0 0 20px #25D366;
  transition: transform 0.2s;
}

.wa-button:hover {
  transform: scale(1.05);
}

.ig-button {
  background-color: #ff2e74;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 10px #ff2e74, 0 0 20px #ff2e74;
  transition: transform 0.2s;
}

.ig-button:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  border-radius: 10px;
}
